@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Reset geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #332010;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* Botões no header */
.botoes {
    display: flex;
    gap: 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    color: #0D1F26;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #673c17;
    color: white;
}

/* Grid layout para dividir o conteúdo */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dividir a tela em 2 colunas */
    gap: 20px;
    padding: 20px;
}

/* Estilo das seções */
.status, .historico {
    padding: 20px;
    border-radius: 8px;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.status h2, .historico h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr; 
    }
}
footer 
 {
        width: 100%; 
        position: absolute; /* Alinha ao final da tela */
        bottom: 0; /* Cola no rodapé */
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px 0;
        font-size: 14px;
}
form .btn {
    background-color: #e63946;
    color: white;
}

form .btn:hover {
    background-color: #cc3a3a;
}
